.row-header{
    margin:0px auto;
    padding:0px;
}

.row-content {
    margin:10px;
    padding: 20px;
    border-bottom: 1px ridge;
    min-height:300px;
    text-align: left;
}

.footer{
    background-color: #bcb8d4;
    margin:0px auto;
    padding: 20px;
}

.jumbotron {
    padding:50px;
    margin:0px auto;
    background: #805dd1 ;
    color:floralwhite;
}

address{
    font-size:100%;
    margin:0px;
    color:#0f0f0f;
}

.row-at{
    margin: 40px;
}

body{
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

.navbar-dark{
    background-color:#e03476f3 ;
}

.btn-group{
    padding-top: 20px;

}

.tab-content{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 20px;
}